<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="CD Test">
  <parameter name="port" value="4455"></parameter>
    <classes>
      <class name="demo.GridEx"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="EDGE Test">
  <parameter name="port" value="4456"></parameter>
    <classes>
      <class name="demo.GridEx"/>
    </classes>
  </test>
</suite> <!-- Suite -->
